/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* my code*/


* {
    text-decoration: none;
}

body {
	background-color: bisque;
}

/* header */
header {
	background-color: rgb(204, 120, 132);
	width: 100%;
	height: 100px;
}

header  .header-logo {
	font-family: Catamaran;
	font-size: 24px;
	font-weight: 700;
	color: rgb(20, 3, 5);
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 12px;
} 

header nav ul li {
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
}

header nav ul li a {
	font-family: Catamaran;
	font-size: 24px;
	color: rgb(20, 3, 5);
}

header nav ul a {
	font-family: Catamaran;
	font-size: 20px;
	display: inline-block;
	

}
/* button from http://shpargalkablog.ru/2012/04/css-knopki.html */
/* Minimum weith display settings */
a.button24 {
	display: none;
}



/* banner */

.index-banner-text{
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
}

.index-banner {
	width: 100%;
	height: 45vh;
	background-image: url('../img/banner.jpg') ;
	background-size: cover;
	background-position: center;
	background-position: no-repeat;
}

.index-banner h2{
	font-family: Catamaran;
	font-size: 50px;
	color: #fff;
	text-align: left;
	text-shadow: 2px 2px 8px #111;
}

.index-banner h1{
	font-family: Cormorant Garamond;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 8px #111;
	font-weight: 100;
	line-height: 35px;
	font-style: italic;
}


/* content */
 /* Minimum weith display settings */


.content{
	margin: 10px;
	width: calc(100% - 20px);
    height: auto;
 	background-color: #f2f2f2 ;
	display: grid;
	grid-template-columns: repeat(1, [col] auto );
	grid-template-rows: repeat(1,[row] auto );

}

.about-post-box-1{	
    grid-area: 1;
    margin: 20px;
}

.about-post-box-1 h3{	
    background-color: rgb(204, 120, 132);
}

.about-post-box-1 img{	
    margin: 10px 10px 0;
	width: calc(100% - 20px);
	height: auto;
}

.about-post-box-1 h4{
    text-align: left;
    font-family: Catamaran;
    font-weight: 200;
    line-height: 20px;
    font-style: italic;
    margin: 20px;
}

section .about-box-text{
    font-family: Catamaran;
    font-weight: 200;
    line-height: 20px;
}

.content div h3{
	font-family: Catamaran;
	font-size: 24px;
	color: rgb(20, 3, 5);
	text-align: center;
	font-weight: 400;
	line-height: 100px;
	text-transform: uppercase;
	display: block;
	text-align: center;
}
.content div section p{
    text-indent: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

/*The labels are bolded*/
span{
    font-weight: bold;
}

/*quotes*/
q{
    quotes: """ """;
 }

/* footer */

footer{
	width: calc(100% - 80px);
	padding: 40px 40px;
	margin-top: 20px;
	background-color: rgb(17, 2, 9);
	overflow: hidden;
}

footer ul {
	width: fit-content;
	float: left;
	padding-left: 20px;
}

footer ul li{
	display: block;
	list-style: none;

}
footer ul li a{
	font-family: Catamaran;
	font-size: 24px;
	color: white;
	line-height: 30px;
}

.index-footer-icons {
	width: 25px;
	float: right;
}

.index-footer-icons img{
	width: 100%;
	margin-bottom: 20px ;
}

/* Large Screens */
@media(min-width: 900px){
	.content {
		width: calc(90% - 0px);
		margin: auto;
		height: auto;
		display: grid;
		grid-template-columns: repeat(1, [col] auto ) !important;
		grid-template-rows: repeat(1,[row] auto )!important;

	}	



	/* button from http://shpargalkablog.ru/2012/04/css-knopki.html */
	a.button24 {
		float: right;
		display: block;
		margin-right: 40px;
		padding: 0px 20px;
		margin-top: -60px;
		font-family: Catamaran;
		font-size: 20px;
		font-style: italic;
		color: white;
		text-decoration: none;
		padding: .5em 2em;
		outline: none;
		border-width: 2px 0;
		border-style: solid none;
		border-color: #FDBE33 #000 #D77206;
		border-radius: 6px;
		background: linear-gradient(#F3AE0F, #E38916) #E38916;
		transition: 0.2s;
	} 
	a.button24:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
	a.button24:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

  }
