/* header */

.header {
  background-color: rgb(204, 120, 132);
  width: 100%;
  height: 100px;
}

.header .header-logo {
  font-family: Catamaran;
  font-size: 24px;
  font-weight: 600;
  color: rgb(20, 3, 5);
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 12px;
}

header nav ul li {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

header nav ul li a {
  font-family: Catamaran;
  font-size: 24px;
  color: rgb(20, 3, 5);
}

header nav ul a {
  font-family: Catamaran;
  font-size: 20px;
  display: inline-block;
}

/* button from http://shpargalkablog.ru/2012/04/css-knopki.html */
/* Minimum weith display settings */

.button24 {
  display: none;
}

/* large screens */

@media (min-width: 900px) {
  /* button from http://shpargalkablog.ru/2012/04/css-knopki.html */
  .button24 {
    float: right;
    display: block;
    margin-right: 40px;
    padding: 0px 20px;
    margin-top: -60px;
    font-family: Catamaran;
    font-size: 20px;
    font-style: italic;
    color: white;
    text-decoration: none;
    padding: 0.5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #fdbe33 #000 hsl(31, 95%, 43%);
    border-radius: 6px;
    background: linear-gradient(#f3ae0f, #e38916) #e38916;
    transition: 0.2s;
  }
  .button24:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
  }
  .button24:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
  }
}